#contact {
    background-color: #3E424D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem 0 5rem 0;
}

h2.contact-title {
    text-align: right;
}

div.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-family: "Open Sans", sans-serif;
    max-width: 50vw;
    padding: 0 0 0 5rem;
}

a.contact-item {
    align-items: flex-start;
    list-style-type: none;
    color: #9FC5CE;
    font-size: large;
    padding: .5rem;
    text-decoration: none;
}

i.fas, i.fab {
    margin: 5px;
    font-size: larger;
}

i.fa-bars {
    padding: 0;
}