h2, a.nav-link {
    text-transform: uppercase;
}

nav.nav {
    background-color: #3E424D;
    font-family: "Ubuntu", sans-serif;
    width: 100%;
}

h2.logo, span.green, h2.contact-title {
    color: #BBCB9F;
}

span.lastname, i.brgr {
    color: #9FC5CE;
}

div.navLinks {
    justify-content: flex-end;
}

li.nav-item, a.nav-link {
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
    padding-right: .5rem;
    padding-left: .5rem;
    text-align: right;
}

li.nav-item {
    border-right: 2px solid white;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 30px;
}

li.nav-item:last-child {
    border-right: none;
    padding-right: .5rem;
}

a.nav-link, a.dropdown-item {
    color: #bee3db;
}

a.nav-link:hover {
    color: white;
}

a.dropdown-item:hover, a.footer-item:hover {
    background-color: #BBCB9F;
    color: #3E424D;
}

div.dropdown-menu {
    background-color: #3E424D;
    color: whitesmoke;
    width: 30px;
}

nav.footer {
    background-color: #3E424D;
    max-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.footer-item {
    border-radius: 8px;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #BBCB9F;
    font-size: 20px
}