nav {
    background-color: #3E424D;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;

    @media screen and (max-width: 900px) {
        flex-direction: column;
        justify-content: center;

        div:last-of-type {
            display: flex;
            justify-content: center;
            align-items: center;

            .tab {
                margin-right: 0;
            }
        }

    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            margin: 0 0 0 30px;
            font-size: 30px;
            text-transform: uppercase;

            @media screen and (max-width: 900px) {
                margin: 0;
            }

            @media screen and (max-width: 400px) {
                font-size: 7vw;
            }
        }

        .navItem {
            margin-right: 40px;
            font-size: 20px;
            font-weight: 500;
            color: #9FC5CE;
            letter-spacing: 2px;
            text-transform: uppercase;

            &:hover {
                color: #BBCB9F;
            }

            @media screen and (max-width: 900px) {
                margin: 0 20px;
                font-size: 14px;
            }
        }
    }
}