.footer {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #3E424D;

    a {
        margin: 20px;
        color: white;
        font-size: 40px;

        &:hover {
            color: #BBCB9F;
        }
    }

    @media screen and (max-width: 800px) {
        align-items: space-evenly;

        a {
            font-size: 25px;
            margin-top: 0;
        }
    }
}