body {
    background-color: #dbe3e6;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin: 0;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ​ @media screen and (max-width: 800px) {
    /* sizing for nav */
    /* li.nav-item, a.nav-link {
        font-size: 4vw;
        align-content: left;
    }
    li.nav-item {
        border-right: none;
        padding-right: 10px;
    }
    div.intro-background, div.headshot-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    img.headshot-round {
        width: 50vw;
    }
    button.btn-outline-light {
        margin-bottom: 3rem;
    } */
    /* All headers */
    /* h2, h1 {
        font-size: 8vw;
        text-align: center;
        margin-top: 10px;
    }
    span.typewrite {
        font-size: 5vw;
    }
    h2.logo {
        font-size: 5vw;
    } */
    /* Portfolio Items */
    /* .port-card {
        width: 90vw;
        margin: 1rem auto;
    }
    div.text {
        font-size: 20px;
    } */
    /* Bio Title Spacing */
    /* h2.about-title {
        padding-bottom: 1rem;
    }
    #container {
        width: fit-content;
    }
    a.contact-item {
        font-size: medium;
    }
} */

/* @media screen and (max-width: 800px) and (min-width: 463px) {
    div.headshot-image {
        padding-top: 85px;
    }
} */

/* @media screen and (max-width: 991px) {
    li.nav-item {
        border-right: none;
        padding-right: 10px;
    }
} */

/* @media only screen and (max-width: 463px) {
    .overlay {
        max-height: 5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .95;
        z-index: 1000;
    }
    .text {
        font-size: 20px;
    }
} */