body {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin: 0;
    display:flex; 
    flex-direction:column; 
    position: relative;

    a {
        text-decoration: none;
    }
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button.shadow:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.active {
    color: #BBCB9F !important;
}

footer { 
    min-height:50px;
    margin-top:auto; 
}

div.body {
    background-color: #3E424D;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;

    h1 {
        align-self: flex-end;
        text-align: center;
        color: rgba(159, 197, 206, 1);
    }
}

article.portfolio-item {
    padding: 0 2rem;
    display: flex;
    margin: 2vh 10vw;
    border-radius: 5px;

    &:nth-of-type(odd) {
        flex-direction: row-reverse;
        text-align: right;
        background-color: rgba(159, 197, 206, .5);

        h2 {
            text-align: center;
            color: #BBCB9F;

        }

        div.text {
            padding-left: 2vw;
        }

        Button.site {
            background-color: #BBCB9F;
        }
    }

    &:nth-of-type(even) {
        background-color: rgba(187, 203, 159, .5);
        
        h2 {
            color: #9FC5CE;
        }

        div.text {
            padding-right: 2vw;
        }

        Button.site {
            background-color: #9FC5CE;
        }
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}



@media screen and (max-width: 900px) {
    div.body {
        background-color: white;
        h1, h2 {
            color:#3E424D !important;
        }
    }

    article.portfolio-item {
        display: flex;
        flex-direction: column;

        h1,
        h2 {
            text-align: center;
        }

        &:nth-of-type(odd) {
            flex-direction: column;

            div.text {
                padding-right: 0;
            }
        }

        &:nth-of-type(even) {
            div.text {
                padding-left: 0;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    article.portfolio-item {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        margin: 20px;
    }
}