article.portfolio-item {
    display: flex;
    flex-direction: row;
    margin: 5rem;
}

h2.port-title {
    font-size: 30px;
}

div.text {
    text-align: justify;
}

p.description {
    font-size: 20px;
}

p.tech {
    font-size: 18px;
}

div.image {
    display: flex;
    align-items: center;
}

img.port-img {
    padding-right: 1rem;
    width: 400px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

Button.site {
    margin: 20px;
}